@font-face {
    font-family: space-mono-regular;
    src: url('./assets/font/SpaceMono-Regular.ttf');
}

:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
    --default-font-family: space-mono-regular;
    --default-max-font-weight: 700;
    font-family: var(--default-font-family);
    font-weight: var(--default-max-font-weight);
    background-color: var(--light-grayish-cyan);
    --input-font-size: 24px;
}

input {
    font-size: var(--input-font-size);
}

* {
    margin: 0;
    padding: 0;
}

.number-input {
    background-color: var(--very-light-grayish-cyan);
    border: 0;
    padding: 0.5rem 0rem;
    padding-right: 1rem;
    padding-left: 2.5rem;
    color: var(--very-dark-cyan);
    text-align: right;
    width: calc(100% - 3.5rem);
    border-radius: 5px;
    font-family: var(--space-mono-regular);
    caret-color: var(--strong-cyan);
    font-weight: var(--defaut-max-font-weight);
}

.number-input:hover {
    cursor: pointer;
}

.number-input:focus {
    outline-color: var(--strong-cyan);
    outline-width: 2px;
    outline-style: solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
}
